body{
    margin: 0px;
    font-family: 'VT323', monospace;
    color: #2ce02c;
}
h1{
  font-family: 'VT323', monospace;
  font-size: 50px;
  color: #2ce02c;
}
h2{
  margin: 0px;
  display: inline;
}
.main-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh
}
.grid-container{
    display: grid;
    row-gap: 0px;
    column-gap: 0px;
    height: 100%;
    width: 50vw;
    overflow: hidden;
    border: 1px solid black;
    box-shadow: 4px 4px 10px 5px rgba(0,0,0,0.26);
}
.tools-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 50vw;
    background-color: #041104;
}


.grid-toggle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color_panel{
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: none;
  outline: none;
  -webkit-appearance: none;
  background-color: #2ce02c;
  padding: 5px;
  cursor:pointer;
}

.color_panel::-webkit-color-swatch-wrapper {
  padding: 0px; 
}
.color_panel::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.range{
  border-radius: 8px;
  height: 4px;
  width: 150px;
  outline: none;
  -webkit-appearance: none;
  background-color: #2ce02ca1;
  margin:10px;
}
input[type='range']::-webkit-slider-thumb {
  width: 6px;
  -webkit-appearance: none;
  height: 12px;
  background: #2ce02c;
  border-radius: 2px;
}

.button{
  background-color: #041104;
  font-family: 'VT323', monospace;
  color: #2ce02c;
  font-size: 20px;
  border: 2px solid #2ce02c;
  margin: 10px;
  cursor:pointer;
}

.button:disabled{
  color: #808080;
  border: 2px solid #808080;
  cursor: unset;
}

/* Switch styles: */

.switch {
    position: relative;
    display: inline-block;
    width:30px;
    height: 17px;
    margin: 10px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2ce02c;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }