body{
    margin: 0px
}
.main-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh
}
.grid-container{
    display: grid;
    row-gap: 0px;
    column-gap: 0px;
    height: 100%;
    width: 50vw;
    overflow: hidden;
    border: 1px solid black;
    box-shadow: 4px 4px 10px 5px rgba(0,0,0,0.26);
}
.tools-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 50vw;
}
.cell{
    border: 0.1px solid rgba(0, 0, 0, 0.233);
}

