.grid-container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(24,  auto);
    grid-auto-rows:50px
    row-gap: 0px;
    column-gap: 0px;
}
.cell{
    
    border: 1px solid black;
    height: 50px;
}